.flex-box {
  font-family: 'Helvetica Neue', 'Helvetica';
}
.playerCharacterInformation{
}
.playerCharacterInformationData{
  border-bottom: 1px solid black;
  height: .148in /* .125in */;
  font-size: 12px
}
.playerCharacterInformationLabel{
  height: .074in /* .0625in */;
  font-size: 5px
}
.bold{
  font-weight: bold;
  border-bottom: 2px solid black;
}
  .playerCharacterRows{
    height: .2222in /* .1875in */;
    width: 6in /* 5.0625in */;
  }
    .first{
      float: left;
      margin-right: .037in /* .03125in */;
    }
    .mid{
      margin-left: .037in /* .03125in */;
      margin-right: .037in /* .03125in */;
    }
    .last{
      margin-left: .037in /* .03125in */;
    }
    .playerCharacterDataWrapper{
      height: .2222in /* .1875in */;
      float: left;
    }
    .six{
      /* width: 5.0625in; */
      width: 6in;
    }
    .three{
      width: 2.96in /* 2.5 */;
    }
    .two{
      width: 1.9506in /* 1.64583in */;
    }
    .one{
      width: .9382in /* .7916in */;
    }
.logo{
  width: 2.96in /* 2.5in */;
}

.abilityScoresDiv{
  height: 1.629in/* 1.375in */;
  width: 3.034in; 
  border-top: 2px solid black;
  margin-top: .148in /* .125in */;
  float: left;
}
  .abilityDivLabelRow{
    height: .20in;
    margin-right: .074in;
    width: 2.96in; /* 2.96 - .12 (4*.03) = 2.84 / 8 = .355 */ 
  }
  .abilityDivRow{
    height: .215in /* .1875in */;
    margin-bottom: .03in;
    margin-right: .074in;
  }
  .abilityDivRowLast{
    height: .222in /* .1875in */;
    margin-right: .074in;
  }
  .abilityDiv_NameTotalMod{
    height: 100%;
    width: 1.42in;
    float: left;
  }
  .abilityDiv_input{
    height: 100%;
    width: .355in;
    float: left;
    margin-left: .03in;
  }
    .half{
      height: 100%;
      width: 50%;
      float: left;
    }
    .quarter{
      height: 100%;
      width: 25%;
      float: left;
    }
  .darkLabel{
    background-color: black;
    color: white;
    font-size: 12px;
  }
  .dataSquare{    
    outline: 1px solid black;
    outline-offset: -1px;
  }
.classRecorderHitPointsDiv{
  height: 1.5in;
  width: 5.966in; 
  float: left;
  margin-top: .148in /* .125in */;
  border: 1px solid black;
}
  .classRecorderHitPointsDivLabel{
    height: .15in;
    width: 100%;
  }
    .hitPointLabel{
      width: 33.3%/* 1.9506in */;
      text-align: center;
      float: left;
    }
    .classRecorderLabel{
      width: 66.7%/* 4.0154in */;
      text-align: center;
      float: left;
    }
  .hitPointsDiv{
    height: 1.35in;
    width: 33.3%/* 1.9506in */;
    float: left;
  }
    .hitPointsDivLeft{
      height: 100%;
      width: 70%;
      float: left;
    }
      .currentHPDiv{
        height: .92467in;
        width: 100%;
      }
      .hitPointsTotals{
        text-align: right;
        font-weight: bold;
        font-size: 14px;
        line-height: .21267in;
        padding-right: .074in;
      }
    .hitPointsDivRight{
      height: 100%;
      width: 30%;
      float: left;
    }
  .classRecorderDiv{
    height: 1.35in;
    width: 66.7%;
    float: left;
  }
  .classRecorderHitPointsLabelRow{
    height: .074in;
    font-size: 5px;
    text-align: center;
  }
  .classRecorderTopRow{
    height: .28667in;
    font-size: 5px;
    text-align: center;
  }
  .classRecorderHitPointsRow{
    height: .21267in;
  }
/* 1/4 = .25
1/8 = .125
1/16 = .0625 */



.margin-top {
margin-top: 50px;
}
.justify-center {
text-align: center;
}
.invoice-box table {
width: 100%;
line-height: inherit;
text-align: left;
}
.invoice-box table td {
padding: 5px;
vertical-align: top;
}
.invoice-box table tr td:nth-child(2) {
text-align: right;
}
.invoice-box table tr.top table td {
padding-bottom: 20px;
}
.invoice-box table tr.top table td.title {
font-size: 45px;
line-height: 45px;
color: #333;
}
.invoice-box table tr.information table td {
padding-bottom: 40px;
}
.invoice-box table tr.heading td {
background: #eee;
border-bottom: 1px solid #ddd;
font-weight: bold;
}
.invoice-box table tr.details td {
padding-bottom: 20px;
}
.invoice-box table tr.item td {
border-bottom: 1px solid #eee;
}
.invoice-box table tr.item.last td {
border-bottom: none;
}
.invoice-box table tr.total td:nth-child(2) {
border-top: 2px solid #eee;
font-weight: bold;
}
@media only screen and (max-width: 600px) {
  .invoice-box table tr.top table td {
  width: 100%;
  display: block;
  text-align: center;
  }
  .invoice-box table tr.information table td {
  width: 100%;
  display: block;
  text-align: center;
  }
}