.flex-box {
  font-family: 'Helvetica Neue', 'Helvetica';
}
.playerCharacterInformation{
  position: relative;
}
.playerCharacterInformationData{
  border-bottom: 1px solid black;
  height: .148in /* .125in */;
  font-size: 12px
}
.playerCharacterInformationLabel{
  height: .074in /* .0625in */;
  font-size: 5px
}
.bold{
  font-weight: bold;
  border-bottom: 2px solid black;
}
  .playerCharacterRows{
    height: .2222in /* .1875in */;
    width: 6in /* 5.0625in */;
  }
    .first{
      float: left;
      margin-right: .037in /* .03125in */;
    }
    .mid{
      margin-left: .037in /* .03125in */;
      margin-right: .037in /* .03125in */;
    }
    .last{
      margin-left: .037in /* .03125in */;
    }
    .playerCharacterDataWrapper{
      height: .2222in /* .1875in */;
      float: left;
    }
    .six{
      /* width: 5.0625in; */
      width: 6in;
    }
    .three{
      width: 2.96in /* 2.5 */;
    }
    .two{
      width: 1.9506in /* 1.64583in */;
    }
    .one{
      width: .9382in /* .7916in */;
    }
.logo{
  width: 2.96in /* 2.5in */;
}

.bottom_aligner {
  display: inline-block;
  height: 100%;
  vertical-align: bottom;
  width: 0px;
}
.abilityScoresDiv{
  height: 1.629in/* 1.375in */;
  width: 3.034in; 
  border-top: 2px solid black;
  margin-top: .148in /* .125in */;
  /* float: left; */
  position: absolute;
}
  .abilityDivLabelRow{
    height: .20in;
    margin-right: .074in;
    width: 2.96in; /* 2.96 - .12 (4*.03) = 2.84 / 8 = .355 */
    text-align: center;
    font-size: 5px;
  }
  .abilityDivRow{
    height: .215in /* .1875in */;
    margin-bottom: .03in;
    margin-right: .074in;
  }
  .abilityDivRowLast{
    height: .222in /* .1875in */;
    margin-right: .074in;
  }
  .abilityDiv_NameTotalMod{
    height: 100%;
    width: 1.42in;
    float: left;
  }
  .abilityDiv_input{
    height: 100%;
    width: .355in;
    float: left;
    margin-left: .03in;
  }
    .half{
      height: 100%;
      width: 50%;
      float: left;
    }
    .quarter{
      height: 100%;
      width: 25%;
      float: left;
    }
  .darkLabel{
    background-color: black;
    color: white;
    text-align: center;
  }
  .darkLabel>.dlAbr{
    height: .148in /* .125in */;
    font-weight: bold;
    font-size: 12px
  }
  .darkLabel>.dlLabel{
    height: .074in /* .0625in */;
    font-size: 5px    
  }
  .dataSquare{
    outline: 1px solid black;
    outline-offset: -1px;
  }
.classRecorderHitPointsDiv{
  height: 1.5in;
  width: 5.966in; 
  /* float: left; */
  margin-top: .148in /* .125in */;
  border: 1px solid black;
  position: absolute;
  left: 3.11in; 
}
  .classRecorderHitPointsDivLabel{
    height: .15in;
    width: 100%;
  }
    .hitPointLabel{
      height: .15in;
      width: 33.3%/* 1.9506in */;
      text-align: center;
      float: left;
      font-size: 12px;
    }
    .classRecorderLabel{
      height: .15in;
      width: 66.7%/* 4.0154in */;
      text-align: center;
      float: left;
      font-size: 12px;
    }
  .hitPointsDiv{
    height: 1.35in;
    width: 33.3%/* 1.9506in */;
    float: left;
  }
    .hitPointsDivLeft{
      height: 100%;
      width: 70%;
      float: left;
    }
      .currentHPDiv{
        height: .92467in;
        width: 100%;
      }
      .hitPointsTotals{
        text-align: right;
        font-weight: bold;
        font-size: 14px;
        line-height: .21267in;
        padding-right: .074in;
        float: right;
      }
      .favoredClass{
        font-size: 6px;
        line-height: .21267in;
        padding-left: .074in;
        float: left;
      }
    .hitPointsDivRight{
      height: 100%;
      width: 30%;
      float: left;
    }
  .classRecorderDiv{
    height: 1.35in;
    width: 66.7%;
    float: left;
  }
  .classRecorderHitPointsLabelRow{
    height: .074in;
    font-size: 5px;
    text-align: center;
  }
  .classRecorderTopRow{
    height: .28667in;
    font-size: 5px;
    text-align: center;
  }
  .classRecorderHitPointsRow{
    height: .21267in;
  }
  .classRecorderCol{
    height: .21267in;
    width: .30in;
    float: left;
  }
  .classRecorderWideCol{
    height: .21267in;
    width: 1.879322in;
    float: left;
  }
  .classRecorderTopCol{
    height: .28667in;
    width: .30in;
    font-size: 5px;
    text-align: center;    
    float: left;
  }
  .classRecorderTopWideCol{
    height: .28667in;
    width: 1.879322in;
    font-size: 5px;
    text-align: center;    
    float: left;
  }
  .classRecorderTotalsCol{
    height: .21267in;
    width: 2.179322in;
    float: left;
  }
/* 1/4 = .25
1/8 = .125
1/16 = .0625 */
/**************************/
/*  Attacks and Defenses   *
/**************************/

.attacksAndDefenseDiv{
  /* background-color: blue; */
  height: 3.7in;
  width: 6in;
  position: absolute;
  top: 3in;
}
.contentTitle{
  height: .15in;
  width: 100%;
  font-size: 12px;
}
.attacksAndDefenseDivLabelRow{
  height: .15in;
  margin-right: .074in;
  width: 100%;
  text-align: center;
  font-size: 5px;
}
.attacksAndDefenseDivRow{
  height: .215in;
  margin-bottom: .03in;
  margin-right: .074in;
}
.plusTen{
  font-size: 16px;
  text-align: center;
  line-height: .215in;
}
.acSpacer{
  height: .215in;
  width: .6in;
  margin-bottom: .03in;
  margin-right: .025in;
  float: left;
}
.acSpacer>.label{
  height: .1075in;
  text-align: right;
  font-size: 5px;
}
.savesDiv, .attacksDiv{
  width: 3.42in;
}
.statNameTotal{
  height: 100%;
  width: 1.065in;
  float: left;
}
.attacksAndDefenseName{
  height: 100%;
  width: .71in;
  float: left;
}
.attacksAndDefenseTotal{
  height: 100%;
  width: .355in;
  float: left;
}
.attacksAndDefenseWide{
  height: 100%;
  width: 1.095in;
  margin-left: .03in;
  float: left;
}
.combatNotesDiv{
  height: 2.46in;
  width: 2.5in;
  position: absolute;
  top: 1.05in;
  left: 3.45in;
}
.verticalSpacer{
  height: .375in;
  width: 100%;
}
.linedRow{
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  height: .215in;
  width: 100%;
  border-bottom: 1px solid black;
}
.topLinedRow{
  border-top: 1px solid black;
}

/**************************/
/*   FEATS AND FEATURES    *
/**************************/
.featsAndFeaturesDiv{
  /* background-color: red; */
  height: 3.7in;
  width: 6in;
  position: absolute;
  top: 6.7in;
}
.featsAndFeaturesLabelRow{
  height: .08in;
  width: 100%;
  text-align: center;
  font-size: 5px;/* 
  outline: 1px solid black;
  outline-offset: -1px; */
}
.featsAndFeaturesDivLeft, .featsAndFeaturesDivRight{
  height: 3.45in;
  width: 2.97in;
  float: left;
}
.featsAndFeaturesDivLeft{
  margin-right: .06in;
}
.featsAndFeaturesDivRight{
}

/**************************/
/*         SKILLS          *
/**************************/
.skillsDiv{
  height: 5.25in;
  width: 3in;
  position: absolute;
  top: 2.75in;
  left: 6.1in;
}
.skillsTable{  
  border-collapse: collapse;
}
.skillsRow{
  height: .165in;
  width: 100%;
}
.gray{
  background-color: lightgrey;
}
.skillsName{
  width: 1.15in; 
  font-size: 8px;
}
.skillsNameCbx{
  /* Smaller-sized Checkboxes */
  -ms-transform: scale(.75); /* IE */
  -moz-transform: scale(.75); /* FF */
  -webkit-transform: scale(.75); /* Safari and Chrome */
  -o-transform: scale(.75); /* Opera */
  transform: scale(.75);
  margin: 0;
  padding: 0;
}
.skillsNameCbx{
  height: 9.6px;
  width: 9.6px;
  border: 1px solid black;
}
.skillsAbilityName{
  width: .125in;
  font-size: 8px;
  text-align: right;
}
.skillsBox{
  width: .23in;
  outline: 1px solid black;
  outline-offset: -1px;
}
.skillsBoxLabel{
  width: .23in;
}
.skillsDetailsRows{
  height: .16;
  width: 100%;
  text-align: center;  
  font-size: 5px;
  vertical-align: middle;
}

/**************************/
/*         EXTRAS          *
/**************************/
.experienceAndExtrasDiv{
  height: 1.87in;
  width: 3in;
  position: absolute;
  top: 8.55in;
  left: 6.1in;
}
.experienceAndExtrasRow{
  height: .202in;
  width: 100%;
  margin-bottom: .03in;
  margin-right: .074in;
}
.resistanceLabel{
  height: .08;
  width: 100%;
  font-size: 5px;
  padding-top:3px;
  padding-left:3px; 
}
.extrasNameTotal{
  height: 100%;
  width: 1.4in; 
  float: left;
}
.extrasName{
  height: 100%;
  width: 1in; 
  float: left;
}
.extrasTotal{
  height: 100%;
  width: .4in; 
  float: left;
}
.extrasTotalLong{
  height: 100%;
  width: 2in; 
  float: left;
}
.experienceAndExtrasData{
  height: 100%;
  width: 1.565in;
  margin-left: .03in;
  float: left;
  text-align: center;
}
.heavyDataSquare{
  outline: 2px solid black;
  outline-offset: -2px;
}
.extrasData{
  height: 100%;
  width: .313in;
  float: left;
}
.experienceDiv{
  height: .128in;
  width: 100%;
  font-size: 7px;
  text-align: center;
}
.xpSpeedLabel{
  height: 100%;
  width: 33%;
  float: left;
}


.proficienciesDiv{
  height: .5in;
  width: 3in;
  position: absolute;
  top: 10.45in;
  left: 6.1in;
}
.proficienciesDivLabel{
  height: .08;
  width: 100%;
  text-align: center;
  font-size: 7px;
}
.proficienciesRowWrap{
  height: .42in;
  width: 100%;
  outline: 2px solid black;
  outline-offset: -2px;
}
.proficienciesRow{
  height: .21in;
  width: 100%;
}


.armorDiv{
  height: .5in;
  width: 6in;
  position: absolute;
  top: 10.45in;
}
.armorName{
  height: 100%;
  width: 3.03in;
  float: left;
}
.armorData{
  height: 100%;
  width: .37125in;
  float: left;
}
.armorRowWrap{
  height: .42in;
  width: 100%;
  outline: 2px solid black;
  outline-offset: -2px;
}
.armorRow{
  height: .21in;
  width: 100%;
}


.weaponsDiv{
  height: 1.13in;
  width: 9in;
  position: absolute;
  top: 11.05in;
}
.weaponsLong, .damage{
  float: left;
}
.weaponsLong{
  height: 100%;
  width: 1.45in;
}
.weaponsAttacks{
  height: 100%;
  width: .29in;
  float: left;
}
.damage{
  height: 100%;
  width: 1.21in;
}
.weaponsWrap{
  height: 1.05in;
  width: 100%;
  outline: 2px solid black;
  outline-offset: -2px;
}
.weaponsRow{
  height: .21in;
  width: 100%;
}